# Django Core
Django
djangorestframework

# Authentication
djangorestframework-simplejwt

# Database
psycopg2-binary
# PyMySQL removed — using PostgreSQL (psycopg2)

# Async Tasks
celery
redis

# Payment
stripe

# CORS
django-cors-headers

# Image Processing
Pillow

# Environment Variables
python-decouple

# Email
django-ses

python-dotenv

gunicorn==21.2.0
